<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Are we GUI yet?</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,400i" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="./main.css">
    </head>
    <body class="column">

        <div class="header-background">
            <nav class="nav">
                <a href="#" class="active">Home</a>
                <a href="#ecosystem">Ecosystem</a>
                <a href="#newsfeed">News Feed</a>
                <a href="#approaches">Approaches</a>
                <a href="#about">About</a>
            </nav>

            <div class="header-content">
                <image width="128" height="128" src="./assets/rust-logo-128x128-blk-v2.png">
                <header>
                    <h1>Are we <span>GUI</span> Yet?</h1>
                    <p>The state of building user interfaces in Rust.</p>
                </header>
            </div>
        </div>

        <main class="footer-pusher">
            <section class="centered-content">
                <h2>The roots aren't deep but the seeds are planted.</h2>
                <p>As a low level language, Rust is perfectly suitable for making user
                    interfaces the old fashioned way, with native APIs. However, competing
                    in today's world typically means supporting all the major platforms, and
                    that makes using native APIs an unattractive option for many.</p>
                <p>Rust's expressiveness and high level abstractions make it ideal for
                    building intricate and complex user interfaces. Unfortunately, there
                    is little consensus on what the best abstractions are.</p>
                <p>There are a number of bindings available today to existing frameworks,
                    but those looking for a mature, easy to use, completely Rust-based
                    solution will most likely find themselves out of luck.</p>
                <p>Current approaches to building GUIs in Rust include interfacing with
                    Electron and building GUIs with HTML (or a framework on top of it), while
                    others have taken to using graphics APIs and various wrappers to emulate
                    classical widgets. The cross platform parallel rendering engine Webrender,
                    built for Servo and used in Firefox, takes this latter approach and is
                    multi-platform, but is more of a base for a GUI framework than one in
                    itself.</p>
            </section>
            <section id="newsfeed" class="centered-content">
                <h2><a href="#newsfeed">Stay in the loop.</a></h2>
                <p>We plan to maintain a PR/Issue based newsfeed. If you're working on or
                    writing about GUIs in Rust, please contribute! Each news entry can either
                    be a post contributed to the Repo or a link back to your blog, Reddit
                    thread, etc.</p>
            </section>
            <section id="ecosystem" class="ecosystem-navigator">
                <div class="centered-content">
                    <h2><a href="#ecosystem">Ecosystem</a></h2>
                    <p>Select a tag below to only show relevant crates. All crates will be shown when no tags are selected.</p>
                    <ul class="ecosystem-tags">
                        {% for tag, description in tags %}
                            {% if description %}
                                <li title="{{description | addslashes }}">{{tag}}</li>
                            {% else %}
                                <li>{{tag}}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </section>
            <section class="ecosystem-crates centered-content">
                <!-- CRATES -->
                {% for crate in crates | sort(attribute="name") %}
                    <div class="ecosystem-card">
                        <h3>{{crate.name}}</h3>
                        <div class="content">
                            <p>{{crate.description}}</p>
                        </div>
                        <ul class="ecosystem-tags">
                            {% for tag in crate.tags %}
                                <li>{{tag}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </section>
        </main>

        <footer id="about" class="about-container">
            <div class="centered-content">
                <h2><a href="#about">About</a></h2>
                <p>Inspired by <a href="http://arewegameyet.com">arewegameyet</a> and similar
                    Rust community websites.</p>
            </div>
        </footer>
    </body>
</html>
