{% extends "base.tera.html" %}
{% import "macros.tera.html" as macros %}

{% block head %}
<script src="{{ get_url(path="tag_sorting.js") }}" async></script>
{% endblock head%}

{% block content %}
<section class="centered-content">
    <h2>The roots aren't deep but the seeds are planted.</h2>
    <p>As a low level language, Rust is perfectly suitable for making user
        interfaces the old fashioned way, with native APIs. However, competing
        in today's world typically means supporting many platforms, and
        that makes using native APIs an unattractive option for many.</p>
    <p>Rust's expressiveness and high level abstractions make it ideal for
        building intricate and complex user interfaces. Unfortunately, there
        is little consensus on what the best abstractions are.</p>
    <p>There are a number of bindings available today to existing frameworks,
        but those looking for a mature, easy to use, and completely Rust-based
        solution will most likely find themselves out of luck.</p>
    <p>Current approaches to building GUIs in Rust include interfacing with
        Electron and building GUIs with HTML (or a framework on top of it), while
        others have taken to using graphics APIs and various wrappers to emulate
        classical widgets. The cross platform parallel rendering engine Webrender,
        built for Servo and usable in Firefox Nightly, takes this latter approach
        and is multi-platform, but is more of a base for a GUI framework than one
        in itself.</p>
</section>
<section id="newsfeed" class="centered-content">
    <h2><a href="{{ get_url(path="@/newsfeed/_index.md") }}">Stay in the loop.</a></h2>
    <p>Below are recent community links submitted to the site. If you're working on or writing about GUIs in Rust, please contribute! Each
        news entry can be a link back to your blog, Reddit thread, etc. See the
        <a href="https://github.com/areweguiyet/areweguiyet/blob/master/README.md">
        README</a> for details.</p>
    {% set news_links = load_data(path="content/newsfeed/links.toml") %}
    {{ macros::newsfeed_links(pages=news_links.links | sort(attribute="date") | reverse | slice(end=3)) }}
    <a href="{{ get_url(path="@/newsfeed/_index.md") }}">See more posts</a>
</section>
<section id="ecosystem" class="ecosystem-navigator">
    <div class="centered-content">
        <h2><a href="#ecosystem">Ecosystem</a></h2>
        <p>Select a tag (or tags) below to only show relevant crates. All crates will be shown when no tags are selected.</p>
        <ul class="ecosystem-tags" id="ecosystem-tags">
            {% set ecosystem = get_section(path="ecosystem/_index.md") %}
            {% for page in ecosystem.pages | sort(attribute="title") %}
                <li
                    {% if page.description %}
                        title="{{ page.description | addslashes }}"
                    {% endif %}
                    data-ecosystem-tag="{{ page.slug }}"
                    onclick="toggleTagFilter('{{ page.slug }}')"
                >{{ page.title }}</li>
            {% endfor %}
        </ul>
    </div>
</section>
<section class="ecosystem-crates centered-content">
    {% set ecosystem_data = load_data(path="ecosystem.toml") %}
    {% set external_data = load_data(path="target/external_data.json") %}
    {% for crate_id, crate in ecosystem_data.crate %}
        {% if crate_id in external_data.crates_io %}
            {% set crates_io = external_data.crates_io[crate_id].crate %}
        {% endif %}
        <div
            class="ecosystem-card"
            {% if crate.tags %}
                data-tags="{%- for tag in crate.tags -%}
                    {%- if not loop.first -%}
                        {{ ',' }}
                    {%- endif -%}
                    {{- tag -}}
                {%- endfor -%}"
            {% else %}
                data-tags=""
            {% endif %}
        >
            <header class="header">
                <h3>
                    {% if crate.name %}
                        {{ crate.name }}
                    {% else %}
                        {{ crate_id }}
                    {% endif %}
                </h3>
                <span>[
                    {%- if crates_io -%}
                        <a href="https://crates.io/crates/{{ crate_id }}">crate</a>
                    {%- endif -%}

                    <span class="spacer"> · </span>

                    {%- if crate.repo -%}
                        <a href="{{ crate.repo }}">repo</a>
                    {%- elif crates_io.repository -%}
                        <a href="{{ crates_io.repository }}">repo</a>
                    {%- endif -%}

                    <span class="spacer"> · </span>

                    {%- if crate.docs -%}
                        <a href="{{ crate.docs }}">docs</a>
                    {%- elif crates_io.documentation -%}
                        <a href="{{ crates_io.documentation }}">docs</a>
                    {%- elif crates_io -%}
                        <a href="https://docs.rs/{{ crate_id }}/latest/{{ crate_id }}/">docs</a>
                    {%- endif -%}
                ]</span>
            </header>
            <div class="content">
                <p>
                    {% if crate.description %}
                        {{ crate.description | trim | trim_end_matches(pat=".") }}.
                    {% else %}
                        {{ crates_io.description | trim | trim_end_matches(pat=".") }}.
                    {% endif %}
                </p>
            </div>
            {% if crates_io %}
            <div class="badge">
                <img alt="crates.io" src="https://img.shields.io/crates/d/{{ crate_id }}?color=9f703d">
            </div>
            {% endif %}
            {% if crate.tags %}
                <ul class="ecosystem-tags">
                    {% for tag in crate.tags %}
                        <li onclick="setTagFilter('{{ tag }}')">{{ tag }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endfor %}
</section>
{% endblock content %}
