{% macro newsfeed_posts(pages) %}
    <div class="newsfeed-posts">
        {% for page in pages %}
            <div>
                <h3>{{ page.title }} by {{ page.authors[0] }}</h3>
                <a href="{{ page.permalink | safe }}">/{{ page.components | join(sep="/") }}</a>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro newsfeed_links(pages) %}
    <div class="newsfeed-posts">
        {% for page in pages %}
            <div>
                <h3>{{ page.title }} by {{ page.author }}</h3>
                <a href="{{ page.link | safe }}">{{ page.link }}</a>
            </div>
        {% endfor %}
    </div>
{% endmacro %}
