{% extends "base.tera.html" %}
{% import "macros.tera.html" as macros %}

{% block content %}
<section class="centered-content">
    <h2>Stay in the loop.</h2>
    <p>Below are community links submitted to the site. If you're working on or writing about GUIs in Rust, please contribute! Each
        news entry can be a link back to your blog, Reddit thread, etc. See the
        <a href="https://github.com/areweguiyet/areweguiyet/blob/master/README.md">
        README</a> for details.</p>
    {% set news_links = load_data(path="content/newsfeed/links.toml") %}
    {{ macros::newsfeed_links(pages=news_links.links | sort(attribute="date") | reverse) }}
</section>
{% endblock content %}
