{% extends "base.tera.html" %}

{% block head %}
<!-- I wouldn't say this is "elegant" but inline style sheets override external ones 
        (we should really make the markdown parser emit html customized to our needs)

    Also I was pretty tired when I write this. Sorry! :sob:
    -->
<style>
    main h1, main h2, main h3, main h4, main h5, main h6 {
        margin-bottom: 20px;
        margin-left: 20px;
        color: #9f703d;
        font-family: Verdana, Arial, sans-serif;
        font-weight: bold;
        text-align: left;
    }

    main h1 {
        text-align: center;
        font-size: 40px;
    }

    main h2 {
        font-size: 36px;
    }

    main h3 {
        font-size: 30px;
    }

    main h4 {
        font-size: 25px;
    }

    main h5, main h6 {
        font-size: 20px;
    }

    main p, main li, blockquote {
        font-size: 20px;
    }

    blockquote {
        margin-left: 20px;
        border-left: 5px solid #a28a6f;
        padding: 20px;
        color: #444;
        margin-bottom: 20px;
    }

    blockquote p:last-child {
        margin-bottom: 0px;
    }

    main ul {
        margin-bottom: 35px;
    }
</style>
{% endblock head %}

{% block content %}
<section class="centered-content">{{ page.content | safe }}</section>
{% endblock content %}
