* {
    margin: 0px;
}

a, a:visited {
    color: #9f703d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
}

html {
    font-family: 'Lato', 'Arial', sans-serif;
}

/* to push the footer down */
html, body {
    height: 100%;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #eee;
}

h2 {
    margin-bottom: 50px;
    margin-top: 20px;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}

h2 > a, h2 > a:visited, h2 > a:hover {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3 {
    font-family: Verdana, Arial, sans-serif;
}

h2 {
    color: #9f703d;
}

p {
    margin-bottom: 35px;
    font-size: 24px;
}

.column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
}

.nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.nav a {
    flex: 0 0 150px;
    padding: 10px;
    text-align: center;
    color: #eee;
    text-decoration: none;
    font-family: Verdana, Arial, sans-serif;
}

.nav a.active, .nav a:hover {
    border-bottom: 3px solid #eee;
    padding-bottom: 7px;
}

.centered-content {
    padding: 5px;
}

.centered-content > h2, .centered-content > p {
    margin-bottom: 20px;
}

.header-background {
    background:
        linear-gradient(
            rgba(62, 52, 32, 0.81),
            rgba(62, 52, 32, 0.81)
        ),
        url(./assets/guiemptycanvas.jpg) #222;
    background-position: center center;
    background-size: cover;
}

.header-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    color: #eee;
    padding: 20px;
}

.header-content p {
    font-style: italic;
    margin-bottom: 0px;
}

.header-content span {
    color: #9f703d;
}

.newsfeed-posts {
    padding: 0px 20px;
}

.newsfeed-posts > div {
    margin-bottom: 20px
}

.newsfeed-posts > div > h3 {
    margin-bottom: 10px;
}

.featured::before {
    content: "FEATURED";
    background: #f1dd6f;
    color: #555;
    font-style: italic;
    font-family: 'Consolas', monospace;
    padding: 5px;
    font-size: 14px;
    border-radius: 6px;
    margin-right: 10px;
    vertical-align: middle;
}

.ecosystem-navigator, .about-container {
    background: #222;
    color: #eee;
}

.ecosystem-navigator {
    background:
        linear-gradient(
            rgba(62, 52, 32, 0.81),
            rgba(62, 52, 32, 0.81)
        ),
        url(./assets/crates.jpg) #222;
    background-position: center center;
    background-size: cover;
}

.ecosystem-navigator p {
    font-size: 18px;
}

.ecosystem-crates {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.footer-pusher {
    flex: 1;
}

.ecosystem-card {
    flex: auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: stretch;

    border-radius: 2px;
    margin: 10px;
    background: #ffffff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.ecosystem-tags {
    list-style: none;
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-flow: row wrap;
}

.ecosystem-tags > li {
    flex: 1 0 50px;
    padding: 5px;
    margin: 1px;
    background: #a28a6f;
    color: #eee;
    cursor: pointer;
    text-align: center;
}

.ecosystem-card > header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    /* put the margins on the children so it looks nice even when they wrap */
    padding: 0px;
    background: #9f703d;
    color: #eee;
}

.ecosystem-card > header > h3 {
    flex: 1 0 auto;
    margin: 10px;
}

.ecosystem-card > header > span {
    flex: 0 0 auto;
    color: #555;
    margin: 10px;
}

.ecosystem-card > header a {
    color: #eee
}

.ecosystem-card > .content {
    flex: 1 0 auto;
    padding: 10px;
}

.ecosystem-card p {
    font-size: 16px;
}

@media only screen and (min-device-width: 1000px) {
    h2 {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    .header-content {
        flex-flow: row-reverse nowrap;
        justify-content: center;
        width: 900px;
        margin: 0px auto;
        height: 300px;
        padding: 0px;
    }

    .header-content > header {
        flex: 1;
    }

    .centered-content {
        width: 1200px;
        margin: 0px auto;
        padding: 20px;
    }

    .ecosystem-crates {
        flex-flow: row wrap;
        align-items: stretch;
        align-content: flex-start;
        padding: 0px;
    }

    .ecosystem-card {
        flex: 0 0 378px;
    }
}
