name: CLI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: "0 0 * * 1"
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  lint-cli:
    name: Run cargo fmt and cargo clippy on the CLI script
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: cargo fmt
      run: cargo fmt --check

    - name: cargo clippy
      run: cargo clippy

  build:
    name: Builds project, fetching latest metadata and verifying configuration
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/master'

    steps:
    - uses: actions/checkout@v2

    - name: Verify
      run: cd cli && cargo run --verbose -- publish --verify-only

  deploy:
    name: Deploys to GH Pages
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'

    steps:
    - uses: actions/checkout@v2

    - name: Publish
      run: cd cli && cargo run --verbose -- publish

    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@3.7.1
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: docs
        CLEAN: true
